.menu-edit{
  z-index: 99999;
  position: fixed;
  top: 10px;
  text-align: center;
  width: 100%;
}

.edit{
  transition-duration: 0.3s;
}
.edit:hover{
   background-color: rgba(0, 0, 0, 0.7);
   transition-duration: 0.3s;
   cursor: url(../images/pencil.png), default;
  
}
.edit-content{
  opacity: 1;
  transition-duration: 0.3s;
}
.edit:hover .edit-content{
  opacity: 0.3;
  transition-duration: 0.3s;
}
.forms{
  z-index: 99999;
}
.modal .modal-header, .modal h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal label{
  color: black;
  text-align: center;
}
.modal-footer {
    background-color: #f9f9f9;
}
