#bg-image{
	background: url("../images/myClub.png") no-repeat;
}
#nomeClube{
	color: white;
}
#logo{
	content:url("../images/logo_arena/arenam1lg4au.png");
}
#headerUltimoJogo{
	background-color: green;
	text-align: center;
}
#bodyUltimoJogo{
	background-color: rgba(0, 0, 0, 0.7);
}
#headerProximoJogo{
	background-color: green;
	text-align: center;
}
#bodyProximoJogo{
	background-color: rgba(0, 0, 0, 0.7);
}
.placar{
	color: white
}
.dataJogo{
	color: white;
}
.grid1{
	background-color: rgba(0, 0, 0, 0.7);
}
.icone-news{
	text-align: left;
}
.grid1 h3{
	color: red;
	text-align: center;
}
.grid1 p{
	text-align: left;
	color: white;
}
.polaroid p{
	color: white;
}
